@media (min-width: 320px) and (max-width: 540px){
    /*media de index*/
.header__logo{
    width: 70px;
}
.nav-link{
    font-size: 19px ;
}
.nav-item{
    text-align: center;
}
.navegacion{
    @include navegacion;
}
li{
    text-decoration: none;
    padding: 0.8rem;
    &:hover{
        transform: scale(1.1);
        transition: all 1s;
    }
}
.portada{
    margin-top: 0.9rem;
    height: 45vh;
    align-items: center;
    & h1{
        font-size: 35px;
        font-weight: 600;
    }
}
.intro{
    @include intro;
    &__imagen{
        width: 50vw;
    }
    &__texto{
        font-size: 14px;
        line-height: 26px;
    }
}
.revendedores{
    &__titulo{
        font-size: 23px;
        margin-top: 25px;
    }
    &__bloque{
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
        align-items: center;
    }
    &__texto{
        margin-top:1.3rem;
    }
    &__texto p{
        font-size: 14px;
        width: 84vw;
        text-align: center;
        line-height: 26px;
    }
}
.imagen{
    width: 84vw;
}
.footer{
    &__redes{
        display: flex;
        flex-direction: column-reverse;
    }
    &__redes img:hover{
        transform: scale(1.3);
    }
    & img{
        width: 30px;
    }
    &__texto{
        font-size: 10px;
        align-items: center;
        text-align: center;
    }
}


/*Termina index*/
/*Empieza tienda*/
.grid-tienda{
    grid-template-columns: 1fr;
    grid-template-areas: "perfuminas__portada"
                        "perfuminas__bloque"
                        "perfuminas__contenido"
                        "perfuminas__bloqueDos" 
                        "perfuminas__contenidoDos";
}
.perfuminas{
    &__portada{
        grid-area: perfuminas__portada;
    }
    &__titulo{
        font-size: 25px;
    }
    &__bloque{
        grid-area: perfuminas__bloque;
        margin-right: 1.5rem;
        @include navegacion;
    
    }
    &__bloqueDos{
        display: flex;
        justify-content: center;
        margin-left:0%;
        grid-area: perfuminas__bloqueDos;
    }
    &__imagen{
        width:80vw;
        border-radius: 3px;
    }
    &__contenido{
        grid-area: perfuminas__contenido;
        margin-left: 1.5rem;
    }
    &__contenidoDos{
        grid-area: perfuminas__contenidoDos;
        margin-left: 1.5rem;
    }
    &__subtitulo{
        padding-bottom: 13px;
        font-size: 23px;
    }
    &__monto{
        font-size: 22px;
    }
    &__subsubtitulo{
        font-size: 20px;
        padding-top: 1.5rem;
    }
    &__selector{
        width: 100%;
    }
    &__boton{
        padding-right: 2rem;
        font-size: 13px;
        padding-left: 2rem;
    }
}
option{
    font-size: 14px;
}

/*termina tienda*/

/*empieza Novedades*/
.grid-container{
    grid-template-columns: 1fr;
    grid-template-areas: "nuevo"
                        "bloqueUno" 
                        "bloqueDos" 
                        "bloqueTres"
                        "bloqueCuatro" 
                        "bloqueCinco" 
                        "bloqueSeis";
}
.nuevo{
    &__titulo{
        font-size: 27px;
    }
    
    &__texto{
        font-size: 13px;
        margin-left: 10px;
        margin-right: 10px;
    }
}
.tarjetas{
    width: 62vw
}
.primerfila__imagen{
    width: 62vw;
}
.primerfila__texto{
    width: 62vw;
}
.primerafila__frase{
    font-size: 15px;
}
.primerfila__subtitulo{
    font-size: 22px;
    padding-top: 1rem;
}
/*termina novedades*/


/*Empieza Nosotros*/
.segundaseccion{
    &__subtitulo{
        margin-top: 1.5rem;
        font-size: 19px;
        padding-bottom: 1.5rem;
    }
    &__texto{ 
        font-size: 14px;
    }  
}
.terceraseccion{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    align-items: center;
    &__contenido{
        width: 70vw;
        margin-top: 1.7rem;
        justify-content: center;
    }
    &__imagen{
        margin-top: 1rem;
        width: 18vw;
    }
    &__subsubtitulo{
        font-size: 20px;
    }
    &__texto{
        padding-top: 0%;
        font-size: 14px;
        margin-left: 10px;
        margin-right: 10px;
    }
}

/*termina nosotros*/
/*empieza contactos*/
.seccioncontacto{
    display:flex;
    flex-direction: column;
    align-items: center;
    &__imagen{
        width: 90vw;
        border-radius: 3px;
    }
    &__bloque1{
        display: flex;
        flex-direction: column;
        width: 60vw;
    }
    &__logo{
        width: 40vw;
    }
    &__titulo{
        font-size: 25px;
    }
    &__input{
        font-size: 14px;
        width: 60vw;
    }
    &__label{
        font-size: 13px;
        padding-right: 1rem;
    }
    &__selector{
        font-size: 13px;
        & option{
            font-size: 13px;
        }
    }
    &__textarea{
        font-size: 14px;
        width: 60vw;
    }
}
.segundobloque{
    width: 100vw;
    &__subtitulo{
        font-size: 20px;
        padding-bottom: 1.5rem;
    }
    &__texto{
        margin-left: 15px;
        margin-right: 15px;
        font-size: 13px;
    }
}
}



@media (min-width: 541px) and (max-width: 720px){
    /*empieza media index*/
.nav-link{
    font-size: 19px ;
}
.nav-item{
    text-align: center;
    }
.navegacion{
    @include navegacion;
}
li{
    padding: 0.8rem;
}   
.portada{
    height: 70vh;
    & h1{
        font-size: 45px;
        font-weight: 600;
    }
}
.intro{
    &__imagen{
        width: 40vw;
    }
    &__texto{
        font-size: 15px;
        line-height: 23px;
    }
}
.revendedores{
    &__titulo{
        font-size: 26px;
        margin-bottom: 30px;
    }
    &__bloque{
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
        align-items: center;
    }
    &__texto{
        margin-top:1.3rem;
    }
    &__texto p{
        font-size: 15px;
        width: 80vw;
        line-height: 25px;
        text-align: center;
    }
}
.imagen{
    width: 80vw;
}
.footer{
    &__redes{
        display: flex;
        flex-direction: column-reverse;
    }
    & img{
        margin-bottom: 3px;
        width: 30px;
    }
    &__redes img:hover{
        transform: scale(1.3);
    }
    &__texto{
        font-size: 12px;
    }
}

/*termina media index*/
/*empieza media tienda*/
.grid-tienda{
    grid-template-columns: 1fr;
    grid-template-areas: "perfuminas__portada"
                        "perfuminas__bloque"
                        "perfuminas__contenido"
                        "perfuminas__bloqueDos" 
                        "perfuminas__contenidoDos";
}
.perfuminas{
    &__portada{
        grid-area: perfuminas__portada;
    }
    &__titulo{
        font-size: 28px;
    }
    &__bloque{
        grid-area: perfuminas__bloque;
        margin-right: 1.5rem;
        @include navegacion;
    
    }
    &__bloqueDos{
        grid-area: perfuminas__bloqueDos;
        margin-right: 1.5rem;
        @include navegacion;
    }
    &__imagen{
        width:80vw;
    }
    &__contenido{
        grid-area: perfuminas__contenido;
        margin-left: 1.5rem;
    }
    &__contenidoDos{
        grid-area: perfuminas__contenidoDos;
        margin-left: 1.5rem;
    }
    &__subtitulo{
        padding-bottom: 13px;
        font-size: 26px;
    }
    &__monto{
        font-size: 23px;
    }
    &__subsubtitulo{
        font-size: 22px;
    }
    &__selector{
        width: 100%;
    }
    &__boton{
        padding-right: 2rem;
        font-size: 16px;
        padding-left: 2rem;
    }

}
option{
    font-size: 16px;
}
/*termina media tienda*/
/*empieza media novedades*/
.grid-container{
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "nuevo nuevo"
                        "bloqueUno bloqueDos" 
                        "bloqueTres bloqueCuatro "
                        "bloqueCinco bloqueSeis" ;
                        
}
.nuevo{
    &__titulo{
        font-size: 30px;
    }
    
    &__texto{
        margin-left: 15px;
        margin-right: 15px;
        font-size: 17px;
    }
}
.tarjetas{
    width: 40vw;
}
.primerfila__imagen{
    width: 40vw;
}
.primerfila__texto{
    width: 40vw;
}
.primerafila__frase{
    font-size: 15px;
}
.primerfila__subtitulo{
    font-size: 19px;
    padding-top: 1rem;
}
/*termina media novedades*/
/*empieza media nosotros*/
.segundaseccion{
    &__subtitulo{
        font-size: 25px;
        padding-bottom: 1rem;
    }
    &__texto{
        font-size: 15px;
        width: 85%;
    }
}

.terceraseccion{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    align-items: center;
    &__contenido{
        width: 60vw;
        margin-top: 1rem;
        justify-content: center;
    }
    &__imagen{
        margin-top: 10px;
        width: 15vw;
    }
    &__subsubtitulo{
        margin-top: 10px;
        font-size: 24px;
    }
    &__texto{
        padding-top: 0%;
        padding-left: 15px;
        padding-right: 15px;
        font-size: 15px;
    }
}

/*termina media nosotros*/

/*empieza contacto*/
.seccioncontacto{
    &__imagen{
        width: 88vw;
        height: 130vh;
        border-radius: 4px;
    }
    &__bloque1{
        display: flex;
        flex-direction: column;
        width: 65vw;
    }
    &__logo{
        width: 40vw;
    }
    &__titulo{
        font-size: 25px;
    }
    &__input{
        width: 65vw;
    }
    &__label{
        font-size: 14px;
    }
    &__selector{
        font-size: 14px;
        & option{
            font-size: 14px;
        }
    }
    &__textarea{
        width: 65vw;
    }
}
.segundobloque{
    width: 100vw;
    &__subtitulo{
        font-size: 26px;
        padding-bottom: 1.5rem;
    }
    &__texto{
        margin-left: 15px;
        margin-right: 15px;
        font-size: 14px;
    }
}
}

@media (min-width: 721px) and (max-width: 1080px){
 /*index*/
 .nav-link{
    font-size: 19px ;
}
.nav-item{
    text-align: center;
}
.navegacion{
    @include navegacion;
}
li{
    text-decoration: none;
    padding: 0.8rem;
    &:hover{
        transform: scale(1.1);
        transition: all 1s;
    }
}
.portada{
    & h1{
        font-size: 65px;
    }
}
.intro{
    &__imagen{
        width: 30vw;
    }
    &__texto{
        font-size: 15px;
        line-height: 28px;
    }
}
.revendedores{
    &__titulo{
        font-size: 27px;
    }
    &__bloque{
        margin-top: 2rem;
    }
    &__texto p{
        font-size: 15px;
        line-height: 27px;
    }
}
.footer{
    &__texto{
        font-size: 10px;
    }
}
/*termina Index*/
/*Tienda*/
.perfuminas{
    &__imagen{
        width:500px;
        border-radius: 3px;
    }
    &__subtitulo{
        padding-bottom: 15px;
        font-size: 25px;
    }
    &__monto{
        font-size: 23px;
        font-weight: 500;
    }
    &__subsubtitulo{
        font-size: 20px;
        padding-bottom: 1rem;
        padding-top: 1rem;
    }
    &__selector{
        & option{
            font-size: 15px;
        }
    }
}
/*termina Tienda*/
/*Novedades*/
.tarjetas{
    width: 27vw;
    cursor: default;
    border-radius: 7px;
    &:hover{
        transform: translateY(-3%);
        transition: all 0.5s ease;
    }
}
.primerfila__imagen{
    width: 27vw;
}
.primerfila__texto{
    width: 27vw;
    & a{
        font-size: 12px;
    }
}
.primerfila__subtitulo{
    font-size: 20px;
}
.primerafila__frase{
    font-size: 14px;
}
/*Terimna novedades*/
/*Nosotros*/
.segundaseccion{
    &__subtitulo{
        padding-bottom: 1.5rem;
    }
    &__texto{
        font-size: 15px;
    }
}
.terceraseccion{
    &__contenido{
        width: 25vw;
    }
    &__subsubtitulo{
        font-size: 20px;
        font-weight: 500;
    }
    &__imagen{
        width: 10vw;
    }
    &__texto{
        padding-top: 0%;
        margin-left: 8px;
        margin-right: 8px;
        font-size: 14px;
        line-height: 25px;
    }
}
/*Termina Nosotros*/
/*Contactanos*/
.seccioncontacto{
    &__imagen{
        width: 370px;
    }
    &__bloque1{
        width: 45vw;
    }
    &__titulo{
        font-size: 28px;
    }
    &__label{
        font-size: 14px;
    }
    &__selector{
        font-size: 14px;
        & option{
            font-size: 14px;
        }
    }
    &__input{
        width: 45vw;
    }
    &__textarea{
        width: 45vw;
    }
}
.segundobloque{
    &__texto{
        font-size: 15px;
        margin-left: 16px;
        margin-right:16px;
    }
}
/*termina Contactanos*/
}
