$color-body:rgba(128, 128, 128, 0.062);
$font-principal: 'Poppins', sans-serif;
$color-navLink:rgb(166, 77, 124);
$color-textoPortada:rgba(255, 255, 255, 0.993);
$color-fondoBoton:rgba(0, 0, 0, 0.795);
$color-textoBoton:black;
$color-lineasIndex:black;
$background-tituloTienda:rgb(166, 77, 124);
$letra-tituloTienda:rgba(255, 255, 255, 0.993);
$background-tituloNovedades:rgb(166, 77, 124);
$color-tituloNovedades:rgba(255, 255, 255, 0.993);
