$color-body:rgba(128, 128, 128, 0.062);
$font-principal: 'Poppins', sans-serif;
$opacidad-portada:rgba(0, 0, 0, 0.400);
$color-navLink:rgb(166, 77, 124);
$color-textoPortada:rgba(255, 255, 255, 0.993);
$color-boxshadow:rgba(0,0,0,0.4);
$background-colorTarjetas:#fff;